.footer {
  padding: 4rem 6rem;
  background: #000;
  color: #fff;
}

.top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: start;
}

.top i {
  color: #fff;
  font-size: 2rem;
  margin-left: 1rem;
}

.top i:hover {
  color: #01959a;
}

.bottom {
  padding-top: 2rem;
  text-align: start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bottom div {
  display: flex;
  flex-direction: column;
}

.bottom h4 {
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

.bottom a {
  text-decoration: none;
  color: #fafafa;
  padding-bottom: 0.4rem;
  font-size: 1.1rem;
}

@media screen and (max-width: 850px) {
  .footer {
    padding: 4rem 2rem;
  }
  
  .top i {
    margin-left: 0;
    margin-right: 1rem;
  }
  
  .bottom div {
    width: 50%;
  }
}