.signup-form-container {
  margin: 4rem 6rem;
  color: #2a2a2a;
  padding: 2rem;
  box-shadow: 0 5px 25px 2px rgba(0,0,0,0.11);
  border-radius: 10px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.signup-form-container h1 {
  margin-bottom: 2rem;
}

.signup-form-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.signup-form-container input {
  height: 3rem;
  padding: 0 1rem;
  margin-bottom: 1.5rem;
  border-radius: 0.3rem;
  border: 1px solid #2a2a2a;
  font-size: 1rem;
}

.signup-form-container button {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
}

@media screen and (max-width: 850px) {
  .signup-form-container {
    margin: 4rem 2rem;
    width: 90%;
  }
}